body {
    background-color: #222;
    margin: 0;

}

.maincontent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    height: 80px;
    z-index: 3;
    max-height: 10%;
    position: fixed;
    top: 0;
    width: 100%;
}

lord-icon {
    margin: 20px;
}

img {
    height: 70px;
    margin-top: 5px;
}

.buttons {
    color: #d33;
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 1.4rem;
}

section {
    padding: 7em;
    height: calc(100vh - 14em);
    color: white;
    scroll-snap-align: start;
    z-index: -1;
}

section:nth-of-type(1) {
    background-color: #3a3;
}

section:nth-of-type(2) {
    background-color: #a33;
}

section:nth-of-type(3) {
    background-color: #33a;
}

h3 {
    font-size: 3em;
}

p {
    font-size: 1.2em;
}